{{>list}}
<div class="div5 group">
    <input type="text" name="name" placeholder="name" id="name"></input>
    <input type="text" name="phone_number" placeholder="phone number" id="phone_number"></input>
</div>
<div class="div5">
    <button onclick="Add()" class="button1">
        Add
    </button>
    {{#cancel}}{{/cancel}}
</div>