<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <h4>Main</h4>

    <div class="div2">


        {{{body}}}

    </div>

    <script src="static/js/script.js"></script>
</body>

</html>